@import "./common/_common";
@import "./common/_font";
@import "./common/_layout";

#wrap{
    // 상단로고(공통)
    .logo-area {
        text-align: center;
        .logo{
            width: 5vw;
            min-width: 5rem;
            @include notebook{max-width: 5rem;}
            > img{max-width: 100%;}
        }
        strong {
            display: block;
            margin-top: 1.8rem;
            font-size: clamp(1.2rem, 1.5vw, 2.8rem);
            font-family: $play;
            font-weight: bold;
            color: $darkblue;
        }
    }
    // 메인페이지
    &.main{
        .container {
            height: calc(100vh - 10rem);
            gap: clamp(3rem, 5%, 8rem);
            @include flexbox(column, center, center);
            .main-cont {
                width: calc(100% - 8rem);
                max-width: 1440px;
                min-height: 70%;
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr 1fr 1fr 1.2fr;
                @include notebook{
                    gap: 1rem;
                    min-height: auto;
                }
                > div {
                    // min-height: 28rem;
                    min-height: 30%;
                    border-radius: 2rem;
                    overflow: hidden;
                    transition: box-shadow .25s;
                    &:focus, &:hover, &.on{box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;}
                    @include notebook{
                        min-height: 13.2rem;
                        border-radius: 1rem;
                    }
                    a {
                        padding: 2.4rem;
                        width: 100%;
                        height: 100%;
                        @include notebook{padding: 1.2rem;}
                        .item-tit {
                            *{
                                color: $white;
                                line-height: 1.2;
                            }
                            strong{
                                font-size: clamp(1.2rem, 1.5vw, 2.8rem);
                                font-family: $play;
                                font-weight: bold;
                                display: block;
                                word-break: break-all;
                                margin-bottom: .8rem;
                            }
                            p{
                                font-weight: 500;
                                opacity: .6;
                                @include notebook{display: none;}
                            }
                        }
                    }
                    // global no.1 yg-1
                    &.item-company {
                        background-color: #7A8AA8;
                        @include background(main, main_company_bg, png, no-repeat, auto 100%, right, bottom);
                    }
                    // product
                    &.item-product {
                        grid-column: 2 / 4;
	                    grid-row: 1 / 2;
                        background-color: #8999A3;
                        @include background(main, main_product_bg, png, no-repeat, 100%, right, bottom);
                    }
                    // industry
                    &.item-industry {
                        grid-column: 4 / 5;
                        grid-row: 1 / 3;
                        background-color: #253149;
                        @include background(main, main_industry_bg, png, no-repeat, 80%, center, bottom);
                    }
                    // e-catalog
                    &.item-ec {
                        background-color: #ED1C24;
                        @include background(main, main_ec_bg, png, no-repeat, 50%, right, bottom);
                    }
                    // str
                    &.item-str {
                        background-color: #1976BC;
                        @include background(main, main_str_bg, png, no-repeat, 50%, right, bottom);
                    }
                    // tm xpert
                    &.item-market {
                        background-color: #00AEA4;
                        @include background(main, main_xpert_bg, png, no-repeat, 50%, right, bottom);
                    }
                }
            }
        }
    }
    // 서브콘텐츠(제품상세페이지)
    .pd-wrap{
        padding: 2.6rem 0 6rem;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .con-box{
            max-width: calc(100% - 6.5vw);
            @include notebook {
                max-width: calc(100% - 8rem);
            }
        }
        .pd-detail{
            .con-tit{
                > strong{
                    font-family: $play;
                    font-size: clamp(2rem, 2.2vw, 4rem);
                    font-weight: bold;
                    border-bottom: 2px solid $mainColor;
                    letter-spacing: -0.02em;
                }
            }
            &-list{
                margin-top: clamp(4rem, 8vh,8.6rem);
                display: flex;
                > div{
                    padding: 0 3vw;
                    &:first-child{
                        padding-left: 1.5vw;
                        width: 39%;
                    }
                    &:nth-child(2){width: 39%;}
                    &:last-child{width: 21%;}
                    &:not(:last-child){border-right: 1px solid $gray03;}
                    .item-cont{
                        position: relative;
                        .tit-tag{
                            display: inline-block;
                            padding: 1.3vh 1.05vw;
                            color: $white;
                            font-size: clamp(12px, 1vw, 2rem);
                            font-weight: 600;
                            background: $mainColor;
                            position: absolute;
                            top: -1.4rem;
                            left: -1.4rem;
                            z-index: 1;
                        }
                        .catalog{
                            position: relative;
                            &:hover{
                                .catalog-area{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            &-area{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: rgba($white, .7);
                                transition: all .25s;
                                opacity: 0;
                                visibility: hidden;
                                @include flexbox(row, center, center);
                                > ul{
                                    gap: .45vw;
                                    @include flexbox(column, flex-start, flex-start);
                                    li{
                                        a{
                                            width: clamp(8rem, 7vw, 13.5rem);
                                            padding: clamp(.4rem, .45vw , .8rem);
                                            border-radius: 3rem;
                                            font-size: clamp(12px, 1.05vw ,2rem);
                                            font-weight: 500;
                                            text-align: center;
                                            background: $white;
                                            transition: all .25s;
                                            @include border(1px, $black);
                                            &.on, &:hover{
                                                background: $mainColor;
                                                border-color: $mainColor;
                                                color: $white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .img-wrap{
                            position: relative;
                            box-shadow: rgba($black, 0.2) 0px 7px 29px 0px;
                            img{width: 100%;}
                        }
                        .txt-wrap{
                            margin-top: 2rem;
                            > strong{
                                font-size: clamp(14px, 1.25vw, 2.4rem);
                                font-weight: 600;
                                + .list-type{margin-top: 1rem;}
                            }
                            .tag-list{
                                > li{
                                    gap: .8rem;
                                    font-size: clamp(14px, 1.25vw, 2.4rem);
                                    font-weight: 600;
                                    @include flexbox(row, flex-start, center);
                                    &:not(:first-child){margin-top: .8rem;}
                                    .tag{
                                        padding: .6rem .8rem;
                                        border-radius: .4rem;
                                        background: $darkblue;
                                        font-size: clamp(12px, .85vw, 1.6rem);
                                        font-weight: 600;
                                        color: $white;
                                        @include notebook {
                                            padding: .4rem .5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pd-series{
            margin-top: 4%;
            .con-box{
                box-shadow: rgba($black, 0.2) 7px 7px 29px -7px;
                border-radius: 2rem;
                padding: 3.2rem 4.8rem;
                gap: 2rem;
                @include flexbox(row, space-between, flex-start);
                @include notebook {
                    padding: 1.6rem 2.4rem;
                }
            }
            .con-tit{
                width: 21%;
                strong{
                    font-size: clamp(14px ,1.3vw , 2.4rem);
                    font-weight: 600;
                    line-height: 1.4;
                    + .btn-wrap{margin-top: 2.4rem;}
                }
            }
            &-list{
                width: 79%;
                height: 100%;
                > ul{
                    width: 100%;
                    height: 100%;
                    gap: .6vw;
                    display: flex;
                    // @include flexbox(row, flex-start, flex-start);
                    > li{
                        // width: calc(100% / 5 - 4.8rem);
                        width: 100%;
                        max-width: 20%;
                        // flex: 1;
                        padding: .65vw;
                        text-align: center;
                        @include border(1px, #E4EBEF);
                        @include flexbox(column, center, center);
                        gap: 1rem;
                        .img-wrap{
                            img{
                                margin: 0 auto;
                                max-width: 100%;
                            }
                        }
                        > strong{
                            font-weight: 600;
                            font-size: clamp(12px, 1vw, 1.6rem);
                            word-wrap: break-word;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}